.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-items-product {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;

  + .cart-items-product {
    border-top: 1px solid rgba(#353535, 0.8);
  }

  > .image {
    $size: 90px;

    display: block;
    height: $size;
    width: $size;
  }

  > .name {
    margin-top: 10px;
    margin-left: 10px;
  }
}
