.cart-item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img.product-info-image {
    width: 25%;
    max-width: 100px;
  }

  .product-info-name {
    flex: 1;
    margin-left: 10px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
